doctype //if lt IE 8
html.no-js.lt-ie10.lt-ie9.lt-ie8  
//if IE 8
html.no-js.lt-ie10.lt-ie9  
//if IE 9
  html.no-js.lt-ie10  
// [if gt IE 8] <!
|  
html.no-js
  // <![endif]
  // Mirrored from www.proteusthemes.com/themes/webmarket-html/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Aug 2015 15:43:24 GMT
  head
    meta(charset='utf-8')
    title Webmarket HTML Template - Contact Us
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='ProteusThemes')
    |  
    script(type='text/javascript').
      WebFontConfig = {
      google : {
      families : ['Open+Sans:400,700,400italic,700italic:latin,latin-ext,cyrillic', 'Pacifico::latin']
      }
      };
      (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
      })();
    |  
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/responsive.css', rel='stylesheet')
    |  
    link(rel='stylesheet', href='js/rs-plugin/css/settings.css', type='text/css')
    |  
    link(rel='stylesheet', href='js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css', type='text/css')
    |  
    link(rel='stylesheet', href='js/prettyphoto/css/prettyPhoto.css', type='text/css')
    |  
    link(href='stylesheets/main.css', rel='stylesheet')
    |  
    link(href='stylesheets/stylenew.css', rel='stylesheet')
    |  
    script(src='js/modernizr.custom.56918.js')
    |  
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/apple-touch/144.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/apple-touch/114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/apple-touch/72.png')
    link(rel='apple-touch-icon-precomposed', href='images/apple-touch/57.png')
    link(rel='shortcut icon', href='images/apple-touch/57.png')
    .master-wrapper
      header#header
        .darker-row
          .container
            .row
              .span4
                .higher-line
                  | Wellcome! Please
                  a(href='#registerModal', role='button', data-toggle='modal') Register
                  |  or
                  a(href='#loginModal', role='button', data-toggle='modal') Login
              .span8
                .topmost-line
                  .higher-line
                    a.gray-link(href='my-account.html') My account
                    | &nbsp; | &nbsp;
                    a.gray-link(href='my-account.html') Wishlist (2)
                    | &nbsp; | &nbsp;
                    a.gray-link(href='checkout-step-1.html') Checkout
                  | &nbsp;
                  .lang-currency
                    .dropdown.js-selectable-dropdown
                      a.selected(data-toggle='dropdown', href='#')
                        span.js-change-text
                          i.famfamfam-flag-gb
                          |  English (EN)
                        |  
                        b.caret
                      ul.dropdown-menu.js-possibilities(role='menu', aria-labelledby='dLabel')
                        li
                          a(href='#')
                            i.famfamfam-flag-gb
                            |  English (EN)
                        li
                          a(href='#')
                            i.famfamfam-flag-si
                            |  Slovenian (SI)
                        li
                          a(href='#')
                            i.famfamfam-flag-de
                            |  German (DE)
                        li
                          a(href='#')
                            i.famfamfam-flag-fr
                            |  French (FR)
                        li
                          a(href='#')
                            i.famfamfam-flag-es
                            |  Spanish (ES)
                    .dropdown.js-selectable-dropdown
                      a.selected(data-toggle='dropdown', href='#')
                        span.js-change-text USD ($)
                        |  
                        b.caret
                      ul.dropdown-menu.js-possibilities(role='menu', aria-labelledby='dLabel')
                        li
                          a(href='#') USD ($)
                        li
                          a(href='#') EUR (&euro;)
                        li
                          a(href='#') YEN (&yen;)
                        li
                          a(href='#') GBP (&pound;)
        .container
          .row
            .span7
              a.brand(href='index-2.html')
                img(src='images/logo.png', alt='Webmarket Logo', width='48', height='48')
                span.pacifico Webmarket
                span.tagline Really Cool e-Commerce HTML Template
            |  
            |  
            |  
            .span5
              .top-right
                .icons
                  a(href='http://www.facebook.com/ProteusNet')
                    span.zocial-facebook
                  a(href='skype:primozcigler?call')
                    span.zocial-skype
                  a(href='https://twitter.com/proteusnetcom')
                    span.zocial-twitter
                  a(href='http://eepurl.com/xFPYD')
                    span.zocial-rss
                  a(href='#')
                    span.zocial-wordpress
                  a(href='#')
                    span.zocial-android
                  a(href='#')
                    span.zocial-html5
                  a(href='#')
                    span.zocial-windows
                  a(href='#')
                    span.zocial-apple
      |  
      |  
      |  
      #stickyNavbar.navbar.navbar-static-top
        .navbar-inner
          .container
            .row
              .span9
                button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                |  
                |  
                |  
                .nav-collapse.collapse
                  ul#mainNavigation.nav
                    li.dropdown
                      a.dropdown-toggle(href='index-2.html')
                        | Home 
                        b.caret
                      ul.dropdown-menu
                        li.dropdown
                          a(href='index-2.html')
                            i.icon-caret-right.pull-right.visible-desktop
                            |  Color Themes
                          ul.dropdown-menu
                            li
                              a(href='index-2.html') Default Theme
                            li
                              a(href='index-grass-green.html') Grass Green Theme
                            li
                              a(href='index-oil-green.html') Oil Green Theme
                            li
                              a(href='index-gray.html') Gray Theme
                        li.dropdown
                          a(href='index-boxed-solid.html')
                            i.icon-caret-right.pull-right.visible-desktop
                            |  Boxed Version
                          ul.dropdown-menu
                            li
                              a(href='index-boxed-solid.html') Boxed - solid color background
                            li
                              a(href='index-boxed-pattern.html') Boxed - pattern background
                    li.dropdown.dropdown-supermenu
                      a.dropdown-toggle(href='shop.html')
                        | Shop 
                        b.caret
                      ul.dropdown-menu.supermenu.accepts-5
                        li.row
                          .span2
                            ul.nav.nav-pills.nav-stacked
                              li
                                a(href='shop.html') Grid View
                              li
                                a(href='shop-list-view.html') List View
                              li
                                a(href='shop-no-sidebar.html') Full Width
                              li
                                a(href='product.html') Single Product
                              li
                                a(href='shop-search.html') Search Results
                          .span3
                            .embed-container
                              iframe(src='http://player.vimeo.com/video/5606758', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                            h5
                              span.light Awesome
                              |  Video
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, maiores.
                    li.dropdown.dropdown-megamenu
                      a.dropdown-toggle(href='#')
                        | Megamenu 
                        b.caret
                      ul.dropdown-menu.megamenu.container
                        li.row
                          .span3
                            ul.nav.nav-pills.nav-stacked
                              li
                                a(href='shop.html') Accessories
                              li
                                a(href='shop.html') Jeans
                              li
                                a(href='shop.html') Suits &amp; Blazers
                              li
                                a(href='shop.html') Sunglasses
                              li
                                a(href='shop.html') Swimwear
                              li
                                a(href='shop.html') Trousers
                              li
                                a(href='shop.html') T-Shirts
                          .span2
                            ul.nav.nav-pills.nav-stacked
                              li
                                a(href='#') Lorem Metus
                            ul.nav.unstyled
                              li
                                a(href='#') Evening Tops
                              li
                                a(href='#') Shirts &amp; Blouses
                              li
                                a(href='#') Tunics
                            ul.nav.nav-pills.nav-stacked
                              li
                                a(href='#') Consectetur Duis
                            ul.nav.unstyled
                              li
                                a(href='#') Evening Tops
                              li
                                a(href='#') Shirts &amp; Blouses
                              li
                                a(href='#') Tunics
                          .span2
                            ul.nav.nav-pills.nav-stacked
                              li
                                a(href='#') Ac Ut
                            ul.nav.unstyled
                              li
                                a(href='#') Evening Tops
                              li
                                a(href='#') Shirts &amp; Blouses
                              li
                                a(href='#') Tunics
                            ul.nav.nav-pills.nav-stacked
                              li
                                a(href='#') Neque Eros
                            ul.nav.unstyled
                              li
                                a(href='#') Evening Tops
                              li
                                a(href='#') Shirts &amp; Blouses
                              li
                                a(href='#') Tunics
                          .span2
                            ul.nav.nav-pills.nav-stacked
                              li
                                a(href='#') Ipsum Sit
                            ul.nav.unstyled
                              li
                                a(href='#') Evening Tops
                              li
                                a(href='#') Shirts &amp; Blouses
                              li
                                a(href='#') Tunics
                            ul.nav.nav-pills.nav-stacked
                              li
                                a(href='#') Lorem Ipsum
                            ul.nav.unstyled
                              li
                                a(href='#') Evening Tops
                              li
                                a(href='#') Shirts &amp; Blouses
                              li
                                a(href='#') Tunics
                          .span3
                            a(href='shop.html')
                              img(src='images/dummy/menu/woman.jpg', alt='woman in red', width='540', height='270')
                            h5
                              span.light Featured
                              |  Category
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, quas illo sapiente ratione nihil ut.
                        li.row.visible-desktop
                          .span12
                            hr
                        li.row.visible-desktop
                          .span6
                            | New arrivals in: &nbsp;
                            a.btn.btn-mini(href='#') Clothing
                            a.btn.btn-mini(href='#') Shoes
                            a.btn.btn-mini(href='#') Accessories
                            a.btn.btn-mini.btn-warning(href='#') Back in stock
                          .span6
                            .pull-right.sm-no-pull
                              | Outlet / Sale: &nbsp;
                              a.btn.btn-mini.btn-success(href='#') UP TO -70%
                    li.dropdown
                      a.dropdown-toggle(href='blog.html')
                        | Blog 
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='blog.html') Default Layout
                        li
                          a(href='blog-single.html') Single Post
                        li
                          a(href='blog-search.html') Search Results
                        li
                          a(href='404.html') 404 Page
                    li.dropdown
                      a.dropdown-toggle(href='features.html')
                        | Features 
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='icons.html') Icons
                        li.dropdown
                          a.dropdown-toggle(href='features.html')
                            i.icon-caret-right.pull-right.visible-desktop
                            |  All Features
                          ul.dropdown-menu
                            li
                              a(href='features.html#headings') Headings
                            li
                              a(href='features.html#alertBoxes') Alert Boxes
                            li
                              a(href='features.html#tabs') Tabs
                            li
                              a(href='features.html#buttons') Buttons
                            li
                              a(href='features.html#toggles') Toggles
                            li
                              a(href='features.html#quotes') Quotes
                            li
                              a(href='features.html#gallery') Gallery Grids
                            li
                              a(href='features.html#code') Code
                            li
                              a(href='features.html#columns') Columns
                            li
                              a(href='features.html#maps') Maps
                            li
                              a(href='features.html#progress') Progress Bars
                            li
                              a(href='features.html#tables') Tables
                    li
                      a(href='about-us.html') About Us
                    li.active
                      a(href='contact.html') Contact
                  |  
                  |  
                  |  
                  form.navbar-form.pull-right(action='#', method='get')
                    button(type='submit')
                      span.icon-search
                    input#navSearchInput.span1(type='text', name='search')
              |  
              |  
              |  
              .span3
                #cartContainer.cart-container
                  .cart
                    p.items
                      | CART 
                      span.dark-clr (3)
                    p.dark-clr.hidden-tablet $1816.90
                    a.btn.btn-danger(href='checkout-step-1.html')
                      i.icon-shopping-cart
                  .open-panel
                    .item-in-cart.clearfix
                      .image
                        img(src='images/dummy/cart-items/cart-item-1.jpg', width='124', height='124', alt='cart item')
                      .desc
                        strong
                          a(href='product.html') Lorem Consectetur Adipiscing Eros Feugiat Condimentum
                        span.light-clr.qty
                          | Qty: 1
                          a.icon-remove-sign(href='#', title='Remove Item')
                      .price
                        strong $959
                    .item-in-cart.clearfix
                      .image
                        img(src='images/dummy/cart-items/cart-item-2.jpg', width='124', height='124', alt='cart item')
                      .desc
                        strong
                          a(href='product.html') Ipsum Adipiscing Vivamus Sed Nisi
                        span.light-clr.qty
                          | Qty: 1
                          a.icon-remove-sign(href='#', title='Remove Item')
                      .price
                        strong $3312
                    .item-in-cart.clearfix
                      .image
                        img(src='images/dummy/cart-items/cart-item-3.jpg', width='124', height='124', alt='cart item')
                      .desc
                        strong
                          a(href='product.html') Ipsum Sed Duis Ut
                        span.light-clr.qty
                          | Qty: 1
                          a.icon-remove-sign(href='#', title='Remove Item')
                      .price
                        strong $6263
                    .summary
                      .line
                        .row-fluid
                          .span6 Shipping:
                          .span6.align-right $4.99
                      .line
                        .row-fluid
                          .span6 Subtotal:
                          .span6.align-right.size-16 $357.81
                    .proceed
                      a.btn.btn-danger.pull-right.bold.higher(href='checkout-step-1.html')
                        | CHECKOUT 
                        i.icon-shopping-cart
                      small
                        | Shipping costs are calculated based on location. 
                        a(href='#') More information
      |   
      |  
      |  
      |  
      .darker-stripe
        .container
          .row
            .span12
              ul.breadcrumb
                li
                  a(href='index-2.html') Webmarket
                li
                  span.icon-chevron-right
                li
                  a(href='contact.html') Contact Us
      .container
        .push-up.top-equal.blocks-spacer-last
          .row
            .span12
              .title-area
                h1.inline
                  span.light Contact
                  |  Us
            |  
            |  
            |  
            section.span8.single.single-page
              article.post
                .post-inner
                  p
                    | The simple contact form below comes packed within this theme. To use the inbuilt form, simply create a page and use the page template &ldquo;Contact&rdquo;. The form will automatically insert below any page content. The form includes jQuery validation to enhance user experience and the recipient email can be configured from the theme options.
              hr
              |  
              |  
              |  
              section.contact-form-container
                h3.push-down-25
                  span.light Send
                  |  a Message
                form#commentform.form.form-inline.form-contact(method='post', action='#')
                  p.push-down-20
                    input#author(type='text', aria-required='true', tabindex='1', size='30', value='', name='author', required='')
                    label(for='author')
                      | Name
                      span.red-clr.bold *
                  p.push-down-20
                    input#email(type='email', aria-required='true', tabindex='2', size='30', value='', name='email', required='')
                    label(for='email')
                      | Mail
                      span.red-clr.bold *
                  p.push-down-20
                    input#url(type='text', tabindex='3', size='30', value='', name='url')
                    label(for='url') Website
                  p.push-down-20
                    textarea#comment.input-block-level(tabindex='4', rows='7', cols='70', name='comment', placeholder='Your Message goes here ...', required='')
                  p
                    button#submit.btn.btn-primary.bold(type='submit', tabindex='5') SEND EMAIL
              hr
              |  
              |  
              |  
              article.company-info
                .row
                  .span3
                    h3.push-down-30
                      span.light Company
                      |  Info
                    p
                      strong.opensans.dark-clr IMAGINARY COMPANY LTD.
                      br
                      | Wall street 17,
                      br
                      | 1000 New York,
                      br
                      | United States
                    p
                      strong.opensans.dark-clr Phone number:
                      |  00386 31 567 537
                      br
                      strong.opensans.dark-clr Fax:
                      |  00386 31 567 538
                      br
                      strong.opensans.dark-clr Email:
                      |  
                      a(href='#')
                        span.__cf_email__(data-cfemail='5e373038311e293b3c333f2c353b2a703d3133') [email&nbsp;protected]
                        script(cf-hash='f9e31', type='text/javascript').
                          /* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */
                  .span5
                    .add-googlemap(data-height='205', data-addr='Prešernov Trg, Ljubljana', data-title='Webmarket Business', data-zoom='14', data-type='roadmap')
            |   
            |  
            |  
            |  
            aside.span4
              #opening_time-4.sidebar-item.opening-time
                .underlined
                  h3
                    span.light Opening
                    |  Time
                .time-table
                  dl.week-day
                    dt
                      | Monday
                    dd
                      | 8:00 - 16:00
                  dl.week-day.light-bg
                    dt
                      | Tuesday
                    dd
                      | 8:00 - 16:00
                  dl.week-day
                    dt
                      | Wednesday
                    dd
                      | 8:00 - 16:00
                  dl.week-day.light-bg.today
                    dt
                      | Thursday
                    dd
                      | 10:00 - 15:00
                  dl.week-day
                    dt
                      | Friday
                    dd
                      | 8:00 - 16:00
                  dl.week-day.light-bg
                    dt
                      | Saturday
                    dd
                      | 8:00 - 16:00
                  dl.week-day.closed
                    dt
                      | Sunday
                    dd
                      | CLOSED
              |  
              |  
              |  
              .sidebar-item.widget_twitter
                .underlined
                  h3
                    span.light Twitter
                    |  Feed
                a.twitter-timeline(href='https://twitter.com/primozcigler', data-widget-id='361435057526800385') Tweets by @primozcigler
                script.
                  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      |   
      |  
      |  
      |  
      footer
        .foot-light
          .container
            .row
              .span4
                h2.pacifico
                  | Webmarket &nbsp; 
                  img.align-baseline(src='images/webmarket.png', alt='Webmarket Cart')
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum risus et gravida. Etiam vel augue ligula, blandit malesuada nisi. Quisque a augue nisi. Nullam interdum convallis
              .span4
                .main-titles.lined
                  h3.title Facebook
                .bordered
                  .fill-iframe
                    .fb-like-box(data-href='https://www.facebook.com/ProteusNet', data-width='292', data-height='200', data-colorscheme='dark', data-show-faces='true', data-header='false', data-stream='false', data-show-border='false')
              .span4
                .main-titles.lined
                  h3.title
                    span.light Newsletters
                    |  Signup
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Aliquam tincidunt vestibulum risus et gravida.
                |  
                #mc_embed_signup
                  form#mc-embedded-subscribe-form.validate.form.form-inline(action='http://proteusthemes.us4.list-manage1.com/subscribe/post?u=ea0786485977f5ec8c9283d5c&id=5dad3f35e9', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                    .mc-field-group
                      input#mce-EMAIL.required.email(type='email', value='', placeholder='Enter your e-mail address', name='EMAIL')
                      input#mc-embedded-subscribe.btn.btn-primary(type='submit', value='Send', name='subscribe')
                    #mce-responses.clear
                      #mce-error-response.response(style='display:none')
                      #mce-success-response.response(style='display:none')
        |   
        |  
        |  
        |  
        .foot-dark
          .container
            .row
              .span3
                .main-titles.lined
                  h3.title
                    span.light Main
                    |  Navigation
                ul.nav.bold
                  li
                    a(href='#') Home
                  li
                    a(href='#') Pages
                  li
                    a(href='#') About Us
                  li
                    a(href='#') Shortcodes
                  li
                    a(href='#') Gallery
                  li
                    a(href='#') Contact Us
              |  
              |  
              |  
              .span3
                .main-titles.lined
                  h3.title
                    span.light Second
                    |  Navigation
                ul.nav
                  li
                    a(href='#') Lorem Ipsum Dolor Sit
                  li
                    a(href='#') Amet Webmarket Signup
                  li
                    a(href='#') Brands
                  li
                    a(href='#') Latest Tweets Sometging
                  li
                    a(href='#') Ipsum Sit Lorem Amet
              |  
              |  
              |  
              .span3
                .main-titles.lined
                  h3.title
                    span.light Third
                    |  Navigation
                ul.nav
                  li
                    a(href='#') Lorem Ipsum Dolor Sit
                  li
                    a(href='#') Amet Webmarket Signup
                  li
                    a(href='#') Brands
                  li
                    a(href='#') Latest Tweets Sometging
                  li
                    a(href='#') Ipsum Sit Lorem Amet
              |  
              |  
              |  
              .span3
                .main-titles.lined
                  h3.title
                    span.light Fourth
                    |  Navigation
                ul.nav
                  li
                    a(href='#') Lorem Ipsum Dolor Sit
                  li
                    a(href='#') Amet Webmarket Signup
                  li
                    a(href='#') Brands
                  li
                    a(href='#') Latest Tweets Sometging
                  li
                    a(href='#') Ipsum Sit Lorem Amet
        |   
        |  
        |  
        |  
        .foot-last
          a#toTheTop(href='#')
            span.icon-chevron-up
          .container
            .row
              .span6
                | &copy; Copyright 2013. Images of products by 
                a(target='_blank', href='http://www.horsefeathers.eu/') Horsefeathers
                | .
              .span6
                .pull-right
                  | Webmarket HTML Template by 
                  a(href='http://www.proteusthemes.com/') ProteusThemes
      |   
      |  
      |  
      |  
      |  
      #loginModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='loginModalLabel', aria-hidden='true')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h3#loginModalLabel
            span.light Login
            |  To Webmarket
        .modal-body
          form(method='post', action='#')
            .control-group
              label.control-label.hidden.shown-ie8(for='inputEmail') Username
              .controls
                input#inputEmail.input-block-level(type='text', placeholder='Username', required='')
            .control-group
              label.control-label.hidden.shown-ie8(for='inputPassword') Password
              .controls
                input#inputPassword.input-block-level(type='password', placeholder='Password', required='')
            .control-group
              .controls
                label.checkbox
                  input(type='checkbox')
                  | Remember me
            button.btn.btn-primary.input-block-level.bold.higher(type='submit')
              | SIGN IN
          p.center-align.push-down-0
            a(data-toggle='modal', role='button', href='#forgotPassModal', data-dismiss='modal') Forgot your password?
      |  
      #registerModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='registerModalLabel', aria-hidden='true')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h3#registerModalLabel
            span.light Register
            |  To Webmarket
        .modal-body
          form(method='post', action='#')
            .control-group
              label.control-label.hidden.shown-ie8(for='inputUsernameRegister') Username
              .controls
                input#inputUsernameRegister.input-block-level(type='text', placeholder='Username', required='')
            .control-group
              label.control-label.hidden.shown-ie8(for='inputEmailRegister') Email
              .controls
                input#inputEmailRegister.input-block-level(type='email', placeholder='Email', required='')
            .control-group
              label.control-label.hidden.shown-ie8(for='inputPasswordRegister') Password
              .controls
                input#inputPasswordRegister.input-block-level(type='password', placeholder='Password', required='')
            button.btn.btn-danger.input-block-level.bold.higher(type='submit')
              | REGISTER
          p.center-align.push-down-0
            a(data-toggle='modal', role='button', href='#loginModal', data-dismiss='modal') Already Registered?
      |  
      #forgotPassModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='forgotPassModalLabel', aria-hidden='true')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h3#forgotPassModalLabel
            span.light Forgot
            |  your password?
        .modal-body
          form(method='post', action='#')
            .control-group
              label.control-label.hidden.shown-ie8(for='inputUsernameRegister') Username
              .controls
                input#inputUsernameRegister.input-block-level(type='text', placeholder='Username')
            p.center-align OR
            .control-group
              label.control-label.hidden.shown-ie8(for='inputEmailRegister') Email
              .controls
                input#inputEmailRegister.input-block-level(type='email', placeholder='Email')
            button.btn.btn-primary.input-block-level.bold.higher(type='submit')
              | SEND ME A NEW PASSWORD
    |   
    |  
    |  
    |  
    |  
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "../../../connect.facebook.net/en_US/all.html#xfbml=1&appId=126780447403102";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    |  
    script(type='text/javascript', src='../../../ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.html')
    script(type='text/javascript').
      if (typeof jQuery == 'undefined') {
      document.write('<script src="js/jquery.min.js"><\\/script>');
      }
    |  
    script(src='js/underscore/underscore-min.js', type='text/javascript')
    |  
    script(src='js/bootstrap.min.js', type='text/javascript')
    |  
    script(src='js/rs-plugin/js/jquery.themepunch.plugins.min.js', type='text/javascript')
    script(src='js/rs-plugin/js/jquery.themepunch.revolution.min.js', type='text/javascript')
    |  
    script(src='js/jquery.carouFredSel-6.2.1-packed.js', type='text/javascript')
    |  
    script(src='js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js', type='text/javascript')
    script(src='js/jquery-ui-1.10.3/touch-fix.min.js', type='text/javascript')
    |  
    script(src='js/isotope/jquery.isotope.min.js', type='text/javascript')
    |  
    script(src='js/bootstrap-tour/build/js/bootstrap-tour.min.js', type='text/javascript')
    |  
    script(src='js/prettyphoto/js/jquery.prettyPhoto.js', type='text/javascript')
    |  
    script(type='text/javascript', src='http://maps.google.com/maps/api/js?key=AIzaSyDvMjN1g49P1MA2Onsj-GulDkmDuuH6aoU&sensor=false')
    script(type='text/javascript', src='js/goMap/js/jquery.gomap-1.3.2.min.js')
    |  
    script(src='js/custom.js', type='text/javascript')
  // Mirrored from www.proteusthemes.com/themes/webmarket-html/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Aug 2015 15:43:24 GMT
